.button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.row{
    background-image: url('images/bg-1.png');
    background-position: center;
    background-repeat: no-repeat;
}